.popup__form-container {
    width: 510px;
    min-height: 410px;
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
    
@media screen and (max-width: 900px) {
    .popup__form-container {
        width: 282px;
        min-height: 394px;
    } 
}